# for brew binaries
PATH=${PATH}:/usr/local/bin

# for pyenv
eval "$(pyenv init -)"                                                                             

# @account
consumer_key=''
consumer_secret=''
access_key=''
access_secret=''

# user-agent
user_agent=''
